<div class="admin-page-container">
  <img
    class="admin-page-logo"
    src="assets/img/lnh.png"
    alt="Cooking Class Plitvice Logo"
  />
  <h2>Dobrodošli na administratorsku stranicu!</h2>

  <!-- Table of Contents -->
  <nav class="table-of-contents">
    <h3 class="toc-title"><i class="ph ph-list icon"></i>Sadržaj stranice</h3>
    <ul class="toc-list">
      <li class="toc-item">
        <button (click)="scrollToSection('company-data')" class="toc-link">
          <i class="ph ph-identification-card icon"></i>Upravljanje podacima
        </button>
      </li>
      <li class="toc-item">
        <button (click)="scrollToSection('dates-management')" class="toc-link">
          <i class="ph ph-calendar icon"></i>Upravljanje danima
        </button>
      </li>
      <li class="toc-item">
        <button
          (click)="scrollToSection('reservations-management')"
          class="toc-link"
        >
          <i class="ph ph-calendar-dots icon"></i>Upravljanje rezervacijama
        </button>
      </li>
      <li class="toc-item">
        <button
          (click)="scrollToSection('reviews-management')"
          class="toc-link"
        >
          <i class="ph ph-star icon"></i>Upravljanje recenzijama
        </button>
      </li>
    </ul>
  </nav>

  <fieldset class="admin-fieldset-company-data" id="company-data">
    <legend>
      <h4 class="admin-fieldset-title bullet-container">
        <i class="ph ph-identification-card icon"></i>Upravljanje podacima
      </h4>
    </legend>
    <ul class="admin-data-list">
      <li class="icon-outer-container">
        Naziv tvrtke:<b>{{ companyData?.name }}</b>
        <button
          class="admin-button"
          (click)="editField('Naziv tvrtke', companyData?.name || '')"
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Adresa tvrtke: <b>{{ companyData?.address }}</b
        ><button
          class="admin-button"
          (click)="editField('Adresa tvrtke', companyData?.address || '')"
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Telefon tvrtke: <b>{{ companyData?.phone }}</b
        ><button
          class="admin-button"
          (click)="editField('Telefon tvrtke', companyData?.phone || '')"
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        E-mail tvrtke: <b>{{ companyData?.email }}</b
        ><button
          class="admin-button"
          (click)="editField('E-mail tvrtke', companyData?.email || '')"
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Vrijeme početka događaja:
        <b>{{ companyData?.startTime }}</b
        ><button
          class="admin-button"
          (click)="
            editField('Vrijeme početka događaja', companyData?.startTime || '')
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Vrijeme završetka događaja: <b>{{ companyData?.endTime }}</b
        ><button
          class="admin-button"
          (click)="
            editField('Vrijeme završetka događaja', companyData?.endTime || '')
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Najmanji broj sudionika u događaju:
        <b>{{ companyData?.minPersonsPerClass }}</b
        ><button
          class="admin-button"
          (click)="
            editFieldByContactingTechnicalAdministrator(
              'Najmanji broj sudionika u događaju'
            )
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Najveći broj sudionika u događaju:
        <b>{{ companyData?.maxPersonsPerClass }}</b
        ><button
          class="admin-button"
          (click)="
            editFieldByContactingTechnicalAdministrator(
              'Najveći broj sudionika u događaju'
            )
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Cijena po osobi: <b>{{ companyData?.pricePerPerson }} €</b
        ><button
          class="admin-button"
          (click)="
            editField(
              'Cijena po osobi (€)',
              companyData?.pricePerPerson?.toString() || ''
            )
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Vrijeme za pripremu pojedinačnog događaja:
        <b>{{ companyData?.preparationTimeInHours }} h</b
        ><button
          class="admin-button"
          (click)="
            editFieldByContactingTechnicalAdministrator(
              'Vrijeme za pripremu pojedinačnog događaja'
            )
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
      <li class="icon-outer-container">
        Google koordinate: <b>{{ companyData?.googleCoordinates }}</b>
        <button
          class="admin-button"
          (click)="
            editField('Google koordinate', companyData?.googleCoordinates || '')
          "
        >
          <i class="ph ph-pencil-simple icon-edit"></i>Promijeni
        </button>
      </li>
    </ul>
  </fieldset>

  <fieldset class="admin-fieldset-dates" id="dates-management">
    <legend>
      <h4 class="admin-fieldset-title bullet-container">
        <i class="ph ph-calendar icon"></i>Upravljanje danima
      </h4>
    </legend>
    <div class="bullet-container">
      <i class="ph ph-prohibit icon"></i>Dani nedostupni za održavanje događaja:
    </div>
    <ul class="manually-excluded-days-list">
      <li class="icon-outer-container" *ngFor="let day of manuallyExcludedDays">
        <b>{{ day }}</b
        ><button (click)="removeManuallyExcludedDay(day)" class="admin-button">
          <i class="ph ph-trash icon-delete"></i>Obriši
        </button>
      </li>
    </ul>
    <div class="unavalable-day-add">
      <input
        class="input-field booking-form-date-input-field admin-input-field"
        #newManuallyExcludedDay
        id="date"
        name="manually-excluded-date"
        type="text"
        autocomplete="off"
        readonly
      />

      <button
        (click)="addManuallyExcludedDay(newManuallyExcludedDay.value)"
        class="add-manually-excluded-day-button admin-button"
      >
        <i class="ph ph-calendar-plus icon-add"></i>Dodaj
      </button>
    </div>
  </fieldset>

  <fieldset class="admin-fieldset-reservations" id="reservations-management">
    <legend>
      <h4 class="admin-fieldset-title bullet-container">
        <i class="ph ph-calendar-dots icon"></i>Upravljanje rezervacijama
      </h4>
    </legend>
    <ul class="admin-data-list">
      <div *ngFor="let reservation of reservations">
        <app-reservation-card
          [reservation]="reservation"
          (statusChanged)="sortReservations()"
        ></app-reservation-card>
      </div>
    </ul>
  </fieldset>

  <fieldset class="admin-fieldset-reviews" id="reviews-management">
    <legend>
      <h4 class="admin-fieldset-title bullet-container">
        <i class="ph ph-star icon"></i>Upravljanje recenzijama
      </h4>
    </legend>
    <ul class="admin-data-list">
      <div *ngFor="let review of reviews">
        <app-review-card [review]="review"></app-review-card>
      </div>
    </ul>
  </fieldset>

  <!-- Popup Modal -->
  <div *ngIf="isPopupOpen" class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <h3>Uredi polje: {{ editingField }}</h3>
      <input
        [(ngModel)]="editingValue"
        type="text"
        class="edit-input admin-input-field"
        #editInput
      />
      <div class="popup-buttons">
        <button (click)="saveField(editingValue)" class="save-btn">
          Sačuvaj
        </button>
        <button (click)="closePopup()" class="cancel-btn">Odustani</button>
      </div>
    </div>
  </div>

  <!-- Popup (contact technical administrator) -->
  <div
    *ngIf="isPopupOpenContactingTechnicalAdministrator"
    class="popup-overlay"
    (click)="closePopupContactingTechnicalAdministrator()"
  >
    <div class="popup-content" (click)="$event.stopPropagation()">
      <h3>Uredi polje: {{ editingFieldByContactingTechnicalAdministrator }}</h3>
      <div class="bullet-container">
        <i class="ph ph-phone-call icon"></i>Kontaktirajte tehničkog
        administratora radi ove promjene.
      </div>
      <div class="popup-buttons">
        <button
          (click)="closePopupContactingTechnicalAdministrator()"
          class="cancel-btn"
        >
          Razumijem
        </button>
      </div>
    </div>
  </div>
</div>
