<div class="info-section">
  <div>
    <p class="icon-outer-container info-row">
      <i class="ph ph-clock icon"></i
      ><strong
        ><span class="info-label">{{
          "timeLabel"
            | translate : (currentLanguageService.currentLanguage$ | async)
        }}</span></strong
      >{{ startTime }} - {{ endTime }}
    </p>
  </div>
  <div>
    <p class="icon-outer-container info-row">
      <i class="ph ph-map-pin icon"></i
      ><strong class="info-label">{{
        "addressLabel"
          | translate : (currentLanguageService.currentLanguage$ | async)
      }}</strong>
      {{ address }}
    </p>
  </div>
  <div>
    <p class="icon-outer-container info-row">
      <i class="ph ph-phone icon"></i
      ><strong href="tel:+385919146693" class="info-label">{{
        "phoneLabel"
          | translate : (currentLanguageService.currentLanguage$ | async)
      }}</strong>
      {{ companyPhone }}
    </p>
  </div>
  <div>
    <p class="icon-outer-container info-row">
      <i class="ph ph-envelope icon"></i>
      <strong class="info-label">{{
        "emailLabel"
          | translate : (currentLanguageService.currentLanguage$ | async)
      }}</strong>
      <span href="mailto:cooking.class.plitvice@gmail.com">{{
        companyMail
      }}</span>
    </p>
  </div>
</div>
