<!-- main div -->
<div class="main-wrapper">
  <div class="content">
    <!-- background-image -->
    <div class="bg-image"></div>

    <!-- inner content -->
    <div class="content-inner">
      <!-- upper part (title, description, carouse) -->
      <div class="upper-part">
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          <div>
            <img
              class="logo"
              src="assets/img/lnh.png"
              alt="Traditional Plitvice Lakes Cooking Class Logo"
            />
          </div>
          <!-- language-switcher -->
          <app-language-switcher></app-language-switcher>
        </div>
        <!-- title -->
        <div class="div-title">
          <h1>Traditional Plitvice Lakes Cooking Class</h1>
        </div>

        <!-- description -->
        <div class="description">
          <div>
            <p>
              {{
                "description1"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}
            </p>
            <p>
              {{
                "description2"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}
            </p>
            <p>
              {{
                "description3"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}
            </p>
          </div>
        </div>

        <!-- carousel -->
        <app-carousel></app-carousel>
      </div>

      <!-- left middle part (bullets, ...) -->
      <div>
        <!-- bullets (description) -->
        <div>
          <div class="div-title">
            <h2>
              {{
                "expected"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}
            </h2>
          </div>

          <div>
            <p class="bullet-container">
              <i class="ph ph-cooking-pot icon"></i
              ><span>
                {{
                  "bullet1"
                    | translate
                      : (currentLanguageService.currentLanguage$ | async)
                }}
              </span>
            </p>
            <p class="bullet-container">
              <i class="ph ph-leaf icon"></i
              ><span
                >{{
                  "bullet2"
                    | translate
                      : (currentLanguageService.currentLanguage$ | async)
                }}
              </span>
            </p>
            <p class="bullet-container">
              <i class="ph ph-house icon"></i
              ><span>{{
                "bullet3"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}</span>
            </p>
            <p class="bullet-container">
              <i class="ph ph-wine icon"></i
              ><span>{{
                "bullet4"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}</span>
            </p>
            <p class="bullet-container">
              <i class="ph ph-heart icon"></i
              ><span>{{
                "bullet5"
                  | translate
                    : (currentLanguageService.currentLanguage$ | async)
              }}</span>
            </p>
          </div>
        </div>

        <!-- description ending -->
        <div>
          <div>
            {{
              "endingWord"
                | translate : (currentLanguageService.currentLanguage$ | async)
            }}
          </div>
        </div>

        <!-- final word -->
        <div class="div-title">
          <h2>
            {{
              "reserveWord"
                | translate : (currentLanguageService.currentLanguage$ | async)
            }}
          </h2>
        </div>
      </div>

      <div class="booking-and-reviews">
        <div class="booking-form-container">
          <!-- booking form -->
          <app-booking-form
            [companyData]="companyData"
            [manuallyExcludedDays]="manuallyExcludedDays"
            [reservations]="reservations"
          ></app-booking-form>
        </div>
        <div class="review-list-container">
          <app-review-list [reviews]="reviews"></app-review-list>
        </div>
      </div>

      <!-- <div>
        <p class="bullet-container">
          <i class="ph ph-clock icon"></i>
          <strong i18n="@@reservationsSoon"
            >Rezerviranje putem stranice uskoro će biti omogućeno!</strong
          >
        </p>
        <p class="bullet-container">
          <i class="ph ph-chat-circle icon"></i>
          <strong i18n="@@contactUs"
            >Do tada nas za rezervacije kontaktirajte putem telefona ili e-maila
            navedenih na stranici. Hvala na strpljenju!</strong
          >
        </p>

        <p class="bullet-container">
          <i class="ph ph-users-three icon"></i>
          <strong i18n="@@guestsGroup"
            >Događaju može prisustvovati od 2 do 12 osoba. Moguće je kombinirati
            više grupa.</strong
          >
        </p>
        <p class="bullet-container">
          <i class="ph ph-currency-eur icon"></i>
          <strong i18n="@@price"
            >Plaćanje se vrši nakon događaja – gotovinom, karticom ili virmanom.
            Cijena po osobi iznosi 80 EUR.</strong
          >
        </p>
        <p class="bullet-container">
          <i class="ph ph-calendar icon"></i>
          <strong i18n="@@reservationAndCancellation"
            >Rezervaciju je moguće napraviti do 24 sata prije početka
            događaja.</strong
          >
        </p>
      </div> -->

      <!-- info -->
      <app-info-section [companyData]="companyData"></app-info-section>
    </div>
  </div>
</div>
