<!-- if there are no reviews, display a message -->
<div
  *ngIf="reviews.length === 0"
  class="review-list-container-empty main-content"
>
  <div>
    <div class="bullet-container">
      <i class="ph ph-clock icon"></i
      ><strong>{{
        "reviewsSoon"
          | translate : (currentLanguageService.currentLanguage$ | async)
      }}</strong>
    </div>
    <div class="bullet-container">
      <span>{{
        "reviewsPatienceLabel"
          | translate : (currentLanguageService.currentLanguage$ | async)
      }}</span>
    </div>
  </div>
</div>

<!-- if there are reviews, display them -->
<div *ngIf="reviews.length > 0" class="review-list-container main-content">
  <ul class="review-list">
    <li *ngFor="let review of paginatedReviews" class="review-item">
      <h3 class="review-author">{{ review.author }}</h3>

      <div class="review-rating" *ngIf="review.rating">
        <span *ngFor="let star of getStarArray(review.rating)" class="star"
          >★</span
        >
        <span
          *ngFor="let star of getEmptyStarArray(review.rating)"
          class="star empty"
          >☆</span
        >
      </div>

      <p class="review-comment">
        <em>{{ review.comment }}</em>
      </p>
    </li>
  </ul>
  <div *ngIf="paginatedReviews.length > 0" class="pagination-controls">
    <button
      class="review-list-navigation-left"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      ⟵
    </button>
    <span>{{ pageInfo }}</span>
    <button
      class="review-list-navigation-right"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      ⟶
    </button>
  </div>
</div>
