.status-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #333;
    margin-right: 8px;
    vertical-align: middle;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.38);
}

.icon-outer-container {
    border-bottom: #007bff solid 1px;
}

.yellow {
    background-color: #ffd700; // Gold/Yellow for waiting
}

.green {
    background-color: #28a745; // Green for confirmed
}

.red {
    background-color: #dc3545; // Red for canceled
}

.reservation-details-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reservation-card {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    border: solid 1px darkblue;
    background-color: lightgray;
    margin-bottom: 16px;
}

.status-change-button {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-right: 2px;
    height: 32px;
    border: #9ca3a8 solid 1px;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 4px;
    }
}

.icon-confirm-reservation {
    margin-left: 8px;
    cursor: pointer;
    vertical-align: middle;
    color: green;
    margin-left: 0;
}

.icon-cancel-reservation {
    margin-left: 8px;
    cursor: pointer;
    vertical-align: middle;
    color: red;
    margin-left: 0;
}

.icon-recover-reservation {
    margin-left: 8px;
    cursor: pointer;
    vertical-align: middle;
    color: blue;
    margin-left: 0;
}

.form-check-input {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.38);
}

.reservation-actions {
    margin-top: 4px;
}